._1lIvMZhdEEihgKBdyZijMj {
  position: relative;
  border-top: 2em solid rgba(230, 230, 230, 0.7);
  border-radius: 3px 3px 0 0;
  -webkit-box-shadow: 0 0.1em 0.5em 0 rgba(0, 0, 0, 0.28);
  box-shadow: 0 0.1em 0.5em 0 rgba(0, 0, 0, 0.28);
}
._1FQkVGuDPMQvUZQr9DrhGv {
  overflow: auto;
  height: calc(100vh - 60px);
}
.IUV7fiXLc4moBipd4f_2L {
  position: absolute;
  top: -1.25em;
  left: 1em;
  display: block;
  width: 0.5em;
  height: 0.5em;
  background-color: #f44;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0 2px #f44, 1.5em 0 0 2px #9b3, 3em 0 0 2px #fb5;
  box-shadow: 0 0 0 2px #f44, 1.5em 0 0 2px #fb5, 3em 0 0 2px #9b3;
  content: '';
}
._1BPYUjCSYyXqT35QX9s8GZ::after {
  position: absolute;
  top: -1.6em;
  left: 5.5em;
  display: block;
  width: calc(100% - 6em);
  height: 1.2em;
  background-color: white;
  border-radius: 2px;
  content: '';
}
body {
  background-color: #ffffff !important;
  overflow: hidden;
}
/*
:global(.ant-layout-sider-trigger) {
  background-color: transparent !important;
  color: @ant-blue !important;
  border: 1px solid @ant-blue;
}

:global(.ant-layout-sider-children) {
  background-color: transparent !important;
}
*/
/*

Original highlight.js style (c) Ivan Sagalaev <maniac@softwaremaniacs.org>

*/

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #F0F0F0;
}


/* Base color: saturation 0; */

.hljs,
.hljs-subst {
  color: #444;
}

.hljs-comment {
  color: #888888;
}

.hljs-keyword,
.hljs-attribute,
.hljs-selector-tag,
.hljs-meta-keyword,
.hljs-doctag,
.hljs-name {
  font-weight: bold;
}


/* User color: hue: 0 */

.hljs-type,
.hljs-string,
.hljs-number,
.hljs-selector-id,
.hljs-selector-class,
.hljs-quote,
.hljs-template-tag,
.hljs-deletion {
  color: #880000;
}

.hljs-title,
.hljs-section {
  color: #880000;
  font-weight: bold;
}

.hljs-regexp,
.hljs-symbol,
.hljs-variable,
.hljs-template-variable,
.hljs-link,
.hljs-selector-attr,
.hljs-selector-pseudo {
  color: #BC6060;
}


/* Language color: hue: 90; */

.hljs-literal {
  color: #78A960;
}

.hljs-built_in,
.hljs-bullet,
.hljs-code,
.hljs-addition {
  color: #397300;
}


/* Meta color: hue: 200 */

.hljs-meta {
  color: #1f7199;
}

.hljs-meta-string {
  color: #4d99bf;
}


/* Misc effects */

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}
.hljs-number{
    user-select: none !important;
}
.hljs-symbol{
    user-select: none !important;
}
.HFzBaUUOUl_Dk3gGdd6rA {
  position: relative;
  border-top: 2em solid rgba(230, 230, 230, 0.7);
  border-radius: 3px 3px 0 0;
  -webkit-box-shadow: 0 0.1em 0.5em 0 rgba(0, 0, 0, 0.28);
  box-shadow: 0 0.1em 0.5em 0 rgba(0, 0, 0, 0.28);
}
._3HbNwOQPyMYsvznhv-apEA {
  overflow: auto;
  height: calc(100vh - 60px);
}
._1mdCIAXzDUH3U7g_nLMg1 {
  position: absolute;
  top: -1.25em;
  left: 1em;
  display: block;
  width: 0.5em;
  height: 0.5em;
  background-color: #f44;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0 2px #f44, 1.5em 0 0 2px #9b3, 3em 0 0 2px #fb5;
  box-shadow: 0 0 0 2px #f44, 1.5em 0 0 2px #fb5, 3em 0 0 2px #9b3;
  content: '';
}
._1k1FkpWVIfRFQBSxlmN2JA::after {
  position: absolute;
  top: -1.6em;
  left: 5.5em;
  display: block;
  width: calc(100% - 6em);
  height: 1.2em;
  background-color: white;
  border-radius: 2px;
  content: '';
}
.CnNB1ZpywJACo3360yKJE {
  left: calc(88vw);
  top: calc(100vh - 12vw);
  position: fixed;
  width: 10vw;
  height: 10vw;
  margin: 5px auto;
  background: -webkit-linear-gradient(135deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  -webkit-animation: _36_HcqdpdJ1VOsrXR3mTj_ 15s ease infinite;
  animation: _36_HcqdpdJ1VOsrXR3mTj_ 15s ease infinite;
  border-radius: 50%;
  border: 10px solid white;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3), inset 0 0 0 15px rgba(0, 0, 0, 0.05), inset 0 0 0 30px rgba(0, 0, 0, 0.05), inset 0 0 0 45px rgba(0, 0, 0, 0.05), inset 0 0 0 60px rgba(0, 0, 0, 0.05), inset 0 0 0 75px rgba(0, 0, 0, 0.05), inset 0 0 0 90px rgba(0, 0, 0, 0.05);
}
.kbPe78EWOg03mYUvXBNk_ {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  width: calc(120/300 * 10vw);
  height: calc(120/300 * 10vw);
  background: -webkit-linear-gradient(top, #fecf4e 1%, #a62a44 50%, #310441 100%);
  background: linear-gradient(to bottom, #fecf4e 1%, #a62a44 50%, #310441 100%);
  border-radius: 50%;
  -webkit-transform: rotate(-15deg) translate(-35%, -55%);
  transform: rotate(-15deg) translate(-35%, -55%);
}
@supports not ((-webkit-clip-path: inset(50% 0 0 0)) or (clip-path: inset(50% 0 0 0))) {
  ._3wU2cZeV1da1WoYKl85lUM,
  ._340P7bjSDEZxWrTvqMWQWv,
  ._30AHOkpHoldO4ZVFnhePmT,
  ._1SKxQGRkCgjdZ1kocO_HnG {
    display: none;
  }
}
._3wU2cZeV1da1WoYKl85lUM,
._340P7bjSDEZxWrTvqMWQWv,
._30AHOkpHoldO4ZVFnhePmT,
._1SKxQGRkCgjdZ1kocO_HnG {
  content: "";
  width: 126px;
  height: 42px;
  border-radius: 50%;
  border: 3px solid rgba(248, 197, 77, 0.8);
  position: absolute;
  top: calc(125/300 * 10vw);
  left: calc(84/300 * 10vw);
  -webkit-transform: skew(-54deg);
  transform: skew(-54deg);
}
._30AHOkpHoldO4ZVFnhePmT,
._1SKxQGRkCgjdZ1kocO_HnG {
  -webkit-transform: skew(-54deg) scale(1.3);
  transform: skew(-54deg) scale(1.3);
  border-color: #d3bc68;
}
._3wU2cZeV1da1WoYKl85lUM,
._30AHOkpHoldO4ZVFnhePmT {
  z-index: 3;
  -webkit-clip-path: inset(50% 0 0 0);
  clip-path: inset(50% 0 0 0);
}
._340P7bjSDEZxWrTvqMWQWv,
._1SKxQGRkCgjdZ1kocO_HnG {
  z-index: 1;
  -webkit-clip-path: inset(0 0 50% 0);
  clip-path: inset(0 0 50% 0);
}
._1vg0a3Jc3F3Py9xLZ3SA7U {
  position: absolute;
  top: 24%;
  left: 75%;
  z-index: 4;
  width: calc(25/300 * 10vw);
  height: calc(25/300 * 10vw);
  background: -webkit-linear-gradient(top, #70a27d 1%, #4552a1 50%, #371a6a 100%);
  background: linear-gradient(to bottom, #70a27d 1%, #4552a1 50%, #371a6a 100%);
  border-radius: 50%;
  -webkit-transform: rotate(-15deg);
  transform: rotate(-15deg);
}
._1f-awhnJMYCtyaZKgyEU4_ {
  width: 2px  ;
  height: 2px;
  background: white;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 9;
}
._2mNH8rE2ikWUSuk6i_R4- {
  -webkit-animation: _2mNH8rE2ikWUSuk6i_R4- 5s linear infinite;
  animation: _2mNH8rE2ikWUSuk6i_R4- 5s linear infinite;
}
@-webkit-keyframes _2mNH8rE2ikWUSuk6i_R4- {
  from {
    -webkit-transform: rotate(0deg) translateX(65px) rotate(0deg);
    transform: rotate(0deg) translateX(65px) rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg) translateX(65px) rotate(-360deg);
    transform: rotate(360deg) translateX(65px) rotate(-360deg);
  }
}
@keyframes _2mNH8rE2ikWUSuk6i_R4- {
  from {
    -webkit-transform: rotate(0deg) translateX(65px) rotate(0deg);
    transform: rotate(0deg) translateX(65px) rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg) translateX(65px) rotate(-360deg);
    transform: rotate(360deg) translateX(65px) rotate(-360deg);
  }
}
._2HftJ-V-JZlfvrgIPd2Hwr {
  -webkit-animation: _2HftJ-V-JZlfvrgIPd2Hwr 10s linear infinite;
  animation: _2HftJ-V-JZlfvrgIPd2Hwr 10s linear infinite;
}
@-webkit-keyframes _2HftJ-V-JZlfvrgIPd2Hwr {
  from {
    -webkit-transform: rotate(0deg) translateX(80px) rotate(0deg);
    transform: rotate(0deg) translateX(80px) rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg) translateX(80px) rotate(-360deg);
    transform: rotate(360deg) translateX(80px) rotate(-360deg);
  }
}
@keyframes _2HftJ-V-JZlfvrgIPd2Hwr {
  from {
    -webkit-transform: rotate(0deg) translateX(80px) rotate(0deg);
    transform: rotate(0deg) translateX(80px) rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg) translateX(80px) rotate(-360deg);
    transform: rotate(360deg) translateX(80px) rotate(-360deg);
  }
}
._2kdV1RPKOETGlvH50a_orL {
  -webkit-animation: _2kdV1RPKOETGlvH50a_orL 15s linear infinite;
  animation: _2kdV1RPKOETGlvH50a_orL 15s linear infinite;
}
@-webkit-keyframes _2kdV1RPKOETGlvH50a_orL {
  from {
    -webkit-transform: rotate(0deg) translateX(95px) rotate(0deg);
    transform: rotate(0deg) translateX(95px) rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg) translateX(95px) rotate(-360deg);
    transform: rotate(360deg) translateX(95px) rotate(-360deg);
  }
}
@keyframes _2kdV1RPKOETGlvH50a_orL {
  from {
    -webkit-transform: rotate(0deg) translateX(95px) rotate(0deg);
    transform: rotate(0deg) translateX(95px) rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg) translateX(95px) rotate(-360deg);
    transform: rotate(360deg) translateX(95px) rotate(-360deg);
  }
}
._2XBzoO3OlE_FJaPgY8Qf6V {
  -webkit-animation: _2XBzoO3OlE_FJaPgY8Qf6V 20s linear infinite;
  animation: _2XBzoO3OlE_FJaPgY8Qf6V 20s linear infinite;
}
@-webkit-keyframes _2XBzoO3OlE_FJaPgY8Qf6V {
  from {
    -webkit-transform: rotate(0deg) translateX(110px) rotate(0deg);
    transform: rotate(0deg) translateX(110px) rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg) translateX(110px) rotate(-360deg);
    transform: rotate(360deg) translateX(110px) rotate(-360deg);
  }
}
@keyframes _2XBzoO3OlE_FJaPgY8Qf6V {
  from {
    -webkit-transform: rotate(0deg) translateX(110px) rotate(0deg);
    transform: rotate(0deg) translateX(110px) rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg) translateX(110px) rotate(-360deg);
    transform: rotate(360deg) translateX(110px) rotate(-360deg);
  }
}
._2zLMDuKXz2AYrJrp9xO4Xy {
  -webkit-animation: _2zLMDuKXz2AYrJrp9xO4Xy 25s linear infinite;
  animation: _2zLMDuKXz2AYrJrp9xO4Xy 25s linear infinite;
}
@-webkit-keyframes _2zLMDuKXz2AYrJrp9xO4Xy {
  from {
    -webkit-transform: rotate(0deg) translateX(125px) rotate(0deg);
    transform: rotate(0deg) translateX(125px) rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg) translateX(125px) rotate(-360deg);
    transform: rotate(360deg) translateX(125px) rotate(-360deg);
  }
}
@keyframes _2zLMDuKXz2AYrJrp9xO4Xy {
  from {
    -webkit-transform: rotate(0deg) translateX(125px) rotate(0deg);
    transform: rotate(0deg) translateX(125px) rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg) translateX(125px) rotate(-360deg);
    transform: rotate(360deg) translateX(125px) rotate(-360deg);
  }
}
._3gUKkn-2qRhxhg9xqVfgN {
  -webkit-animation: _3gUKkn-2qRhxhg9xqVfgN 30s linear infinite;
  animation: _3gUKkn-2qRhxhg9xqVfgN 30s linear infinite;
}
@-webkit-keyframes _3gUKkn-2qRhxhg9xqVfgN {
  from {
    -webkit-transform: rotate(0deg) translateX(140px) rotate(0deg);
    transform: rotate(0deg) translateX(140px) rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg) translateX(140px) rotate(-360deg);
    transform: rotate(360deg) translateX(140px) rotate(-360deg);
  }
}
@keyframes _3gUKkn-2qRhxhg9xqVfgN {
  from {
    -webkit-transform: rotate(0deg) translateX(140px) rotate(0deg);
    transform: rotate(0deg) translateX(140px) rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg) translateX(140px) rotate(-360deg);
    transform: rotate(360deg) translateX(140px) rotate(-360deg);
  }
}
._2BZacittJYPzZ5TJ4zcfFD {
  background: #f1f1f1;
  width: 100px;
  height: 30px;
  position: absolute;
  border-radius: 50%;
  bottom: -5px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
}
._2BZacittJYPzZ5TJ4zcfFD:before,
._2BZacittJYPzZ5TJ4zcfFD:after {
  content: "";
  background: #f1f1f1;
  border-radius: 50%;
  position: absolute;
}
._2BZacittJYPzZ5TJ4zcfFD:before {
  width: 50px;
  height: 50px;
  bottom: 2px;
  left: 5px;
}
._2BZacittJYPzZ5TJ4zcfFD:after {
  width: 40px;
  height: 40px;
  bottom: 2px;
  right: 15px;
}
._1C4AksF5U3Wxb-Tjz5iobZ,
._1PIbbVqKLbKi7U-YISm1BK,
._2r6TgKSPEp9SMFYFSuUQmH {
  position: absolute;
  bottom: 0;
  width: 211px;
  height: 100px;
  opacity: 0.2;
}
._1C4AksF5U3Wxb-Tjz5iobZ {
  bottom: -5px;
}
._1PIbbVqKLbKi7U-YISm1BK {
  -webkit-transform: scale(2);
  transform: scale(2);
  bottom: 20px;
  left: -50px;
}
._2r6TgKSPEp9SMFYFSuUQmH {
  -webkit-transform: scale(3);
  transform: scale(3);
  bottom: 100px;
  left: -24px;
}
._ccAFRNaZ4yq5eZhpN-FD {
  left: 10px;
}
._3-h7bRc1J9BgINWrDGRm0a {
  right: 10px;
}
.fYA3mR7I337_Yj81P4uoa {
  right: 184px;
  bottom: 0;
}
._4IkysJ3PEqNS2emwLzK_e {
  right: 24px;
  bottom: 12px;
}
._3KbxfVWLKnNR936hsKbe4H {
  right: -45px;
  bottom: 9;
}
.QpZNbVXQ8JmUslJcvO929 {
  position: absolute;
  left: 0;
  top: 50px;
  width: 1px;
  height: 1px;
  background-color: white;
  -webkit-animation: _2zIR3e6NwMDoSDxr9uxIOF 5s linear infinite;
  animation: _2zIR3e6NwMDoSDxr9uxIOF 5s linear infinite;
}
.QpZNbVXQ8JmUslJcvO929:before {
  content: "";
  position: absolute;
  width: 100px;
  height: 1px;
  right: 1px;
  top: 0;
  background: -webkit-linear-gradient(left, transparent 0%, rgba(255, 255, 255, 0.4) 100%);
  background: linear-gradient(to right, transparent 0%, rgba(255, 255, 255, 0.4) 100%);
}
.MCUT2cUqYVLCdANZWMj7s {
  top: 100px;
  -webkit-animation: _2zIR3e6NwMDoSDxr9uxIOF 8s 1s linear infinite;
  animation: _2zIR3e6NwMDoSDxr9uxIOF 8s 1s linear infinite;
}
._1SGw2VZIl25CIygdDyE-8v {
  top: 250px;
  -webkit-animation: _2zIR3e6NwMDoSDxr9uxIOF 3s 2s linear infinite;
  animation: _2zIR3e6NwMDoSDxr9uxIOF 3s 2s linear infinite;
}
@-webkit-keyframes _36_HcqdpdJ1VOsrXR3mTj_ {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes _36_HcqdpdJ1VOsrXR3mTj_ {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-webkit-keyframes _2zIR3e6NwMDoSDxr9uxIOF {
  from {
    left: -100px;
  }
  to {
    left: calc(100% + 100px);
  }
}
@keyframes _2zIR3e6NwMDoSDxr9uxIOF {
  from {
    left: -100px;
  }
  to {
    left: calc(100% + 100px);
  }
}
